<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div  class="col-md-12 text-center txtalign" >
        <h1 class="text-center"  data-aos="fade-up">WELCOME TO MISC BILLING SYSTEM</h1>
        <h3  class="text-center" data-aos="fade-up" data-aos-delay="400">
          Outstanding Service, Outstanding You
        </h3>
        <!-- <div data-aos="fade-up" data-aos-delay="800">
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
        </div> -->
      </div>
      <!-- <div
        class="col-lg-6 order-1 order-lg-2 hero-img"
        data-aos="fade-left"
        data-aos-delay="200"
      >
        <img
          src="/assets/images/hero-img.png"
          class="img-fluid animated"
          alt=""
        />
      </div> -->
    </div>
    <div responsive class="row mt-1 text-center">
      <div class="col-md-6">
        <img height="237" width="320"
          src="/assets/images/sobornojoyonti_2021.jpg"
          class="img-fluid animated"
          alt=""
        />
      </div>
      <div class="col-md-6">
        <img height="237" width="320"
          src="/assets/images/mojibborso.png"
          class="img-fluid animated"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
