<section id="clients" class="clients clients">
  <div class="container">
    <div class="row">
      <marquee class="featured-text" direction="left" style="color: #111">
        <p style="margin-bottom: 0px">
          <img src="../../../..assets/images/star.png" />
          উচ্চ দক্ষতা সম্পন্ন এবং উচ্চ তাপ নিরোধক ফ্রিজ ব্যবহার করুন।

          <img src="../../../../assets/images/star.png" />
          ভবনে প্রাকৃতিক ভেন্টিলেটর ব্যবহার করুন।
          <img src="../../../../assets/images/star.png" />
          মধ্যাহ্নভোজের সময়ে এয়ার কন্ডিশনার ব্যবহার করবেন না
          <img src="../../../../assets/images/star.png" />
          এয়ার কন্ডিশনারের সাথে বৈদ্যুতিক সংকেতের মেরু বদল সরঞ্জাম ব্যবহার
          করুন।
          <img src="../../../../assets/images/star.png" />
          বায়ুমণ্ডলের তাপমাত্রার উপর ভিত্তি করে আর্দ্রতা এবং এয়ার কন্ডিশনার
          ইউনিটের তাপমাত্রার মান সেট করুন।
          <img src="../../../../assets/images/star.png" />
          গ্রীষ্মে এয়ার কন্ডিশনার ইউনিট ২৫ ° সে তাপমাত্রা রাখুন।
          <img src="../../../../assets/images/star.png" />
          অব্যবহৃত রুমের আলো নিভিয়ে রাখুন
          <img src="../../../../../../assets/images/star.png" />
          অতিরিক্ত আলোর ব্যবহার পরিহার করুন
          <img src="../../../../../../assets/images/star.png" />
          (এলইডি, সিএফএল) বাল্ব ব্যবহার করুন
          <img src="../../../../../../assets/images/star.png" />
          সঠিকভাবে বিদ্যুৎ ব্যবহার করুন।
        </p>
      </marquee>
    </div>
  </div>
</section>

<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container" style="margin-top: 3rem;">
    <div class="section-title text-center" data-aos="fade-up">
      <h2 class="mb-3">About Us</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
        <p class="text-​justify">
          <strong>Bangladesh Power Development Board (BPDB)</strong> is a
          statutory body created in May 1, 1972, by presidential Order No. 59
          after bifurcation of erstwhile Bangladesh Water and Power Development
          Authority. BPDB started its operation with Installed Generation
          capacity of only 200 MW. Installed Generation capacity (April' 2016)
          has increased to 12,339 MW. <br />
          As of January 2020, BPDB had a total installed capacity of 5613 MW at
          its own power plants located in different parts of the country. The
          main fuel used for power generation in BPDB plants is indigenous
          natural gas. BPDP operations also include projects that utilize
          renewable power sources including offshore wind power generation.
        </p>
      </div>
      <div
        class="col-lg-6 pt-4 pt-lg-0"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <p class="text-​justify">
          The <strong>BPDB</strong> is responsible for major portion of
          generation and distribution of electricity mainly in urban areas
          except Dhaka and West Zone of the country. The Board is under the
          Power Division of the Ministry of power, Energy and Mineral Resources,
          Government of Bangladesh.
          <br />
          BPDB has taken a massive capacity expansion plan to add about 11600 MW
          Generation capacity in next 5 years to achieve 24000 MW Capacity
          according to PSMP-2010 by 2021 with the aim to provide quality and
          reliable electricity to all the people of Country for desired economic
          and social development. The power system has been expanded to keep
          pace with the fast growing demand.
        </p>
      </div>
    </div>
  </div>
</section>
