<form [formGroup]="form" (ngSubmit)="form.valid && onSave()">
  <div fxLayout="column" fxLayoutGap="20px">
    <div class="col-margin1 " fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
      <div fxLayout="row" fxFlex="80">
        <mat-icon class="file-icon material-icons-outlined">insert_drive_file</mat-icon>
        <!-- <h2 mat-dialog-title> Feedback Form</h2> -->
        <ngx-generic-header title="Role Edit"></ngx-generic-header>
      </div>

      <button mat-icon-button type="button" class="close-btn" (click)="close()">
        <mat-icon>clear</mat-icon>
      </button>
    </div>

    <div fxLayout="column" fxLayoutGap="5px" class="form-group-section">
      <div fxLayout="row" fxLayoutGap="25px" fxLayout.xs="row wrap" fxLayoutGap.xs="0px">
        <div fxLayout="column" fxFlex="100%" fxFlex.lg="100%" fxFlex.md="100%" fxFlex.xs="100%">

          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label> Role Name</mat-label>
            <input type="text" matInput formControlName="roleName" placeholder="Role Name">
            <mat-error>Please enter Role name </mat-error>
          </mat-form-field>
          <mat-form-field class="filtered-autocomplete" appearance="outline" floatLabel="always">
            <mat-label>Dashboard Menu</mat-label>
            <input type="text" placeholder="Select Dashboard Menu" matInput formControlName="menuFkId"
              [matAutocomplete]="autoCompleteDashboardMenu">
            <mat-icon matSuffix class="arrow-down">arrow_drop_down</mat-icon>
            <mat-autocomplete #autoCompleteDashboardMenu="matAutocomplete" [displayWith]="displayDashboard">
              <mat-option *ngFor="let option of dashboardMenuDDList" [value]="option">
                {{option.value}}
              </mat-option>
            </mat-autocomplete>
            <mat-error>Please select a dashboard menu </mat-error>
          </mat-form-field>
        </div>

      </div>
    </div>

    <div fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="15px" fxLayoutGap.xs="5px">
        <button mat-button type="submit" class="btn-save">
          <mat-icon class="btn-icon">
            save
          </mat-icon> Save
        </button>
      </div>
    </div>
  </div>
</form>