<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-6  rounded m-1 p-2" style="text-align:center;">
            <nb-card status="danger">
                <nb-card-header>
                    <div class="row justify-content-center ">
                        <div class="">
                            <nb-icon for="file-input" icon="close-circle-outline" status="light"></nb-icon>
                            <h1 class="text-light">Failed!</h1>
                        </div>
                    </div>
                </nb-card-header>
                <nb-card-body>
                    <h6>Your payment is not Succes!</h6>
                    <h6>There is some problem !</h6>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>