<div fxLayout="column" fxLayoutGap="40px">

  <ngx-generic-header title="Change Password"></ngx-generic-header>

  <form [formGroup]="resetPasswordForm" (ngSubmit)="ResetPassword()">
    <mat-card class="form-card" fxLayout="column" fxLayoutGap="20px" fxLayoutGap.xs="10px">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
        <mat-icon class="icon_margin" matSuffix>vpn_key</mat-icon>
        <mat-divider vertical class="mat_divider"></mat-divider>
        <mat-form-field fxFlex="40" appearance="outline">
          <mat-label>Current Password</mat-label>
          <input matInput type="password" placeholder="Current Password" formControlName="currentPassword">
          <mat-error>Current password is required</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
        <mat-icon class="icon_margin" matSuffix>password</mat-icon>
        <mat-divider vertical class="mat_divider"></mat-divider>
        <mat-form-field fxFlex="40" appearance="outline">
          <mat-label>New Password</mat-label>
          <input matInput type="password" placeholder="New Password" autocomplete="off" formControlName="newPassword">
          <mat-error *ngIf="resetPasswordForm.get('newPassword').hasError('required')">New password is required.
          </mat-error>
          <mat-error *ngIf="resetPasswordForm.get('newPassword').hasError('isMatching')">Current password & new password can't be same.
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
        <mat-icon class="icon_margin" matSuffix>password</mat-icon>
        <mat-divider vertical class="mat_divider"></mat-divider>
        <mat-form-field fxFlex="40" appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" placeholder="Confirm Password" autocomplete="off"
            formControlName="confirmPassword">
          <mat-error *ngIf="resetPasswordForm.get('confirmPassword').hasError('required')">Confirm password is required
          </mat-error>
          <mat-error *ngIf="resetPasswordForm.get('confirmPassword').hasError('mustMatch')">Passwords must match
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" class="btn-div" fxLayoutGap="10px" fxLayoutAlign="center center">
        <button fxLayoutAlign="center center" class="submit-button" mat-raised-button type="submit"
          [disabled]="!resetPasswordForm.valid" fxFlex="25%">Update Password</button>
      </div>
    </mat-card>
  </form>
</div>