/* MODAL STYLES
-------------------------------*/
jw-modal {
  /* modals are hidden by default */
  display: none;

  .jw-modal {
    /* modal container fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* z-index must be higher than .jw-modal-background */
    z-index: 1000000 !important;

    /* enables scrolling for tall modals */

    height: calc(100vh - 110px);
    .jw-modal-body {
      height: 100%;
      overflow: auto;
      padding: 20px;
      background: #fff;
      border-radius: 5px;
      /* margin exposes part of the modal background */
      margin-top: 70px;
      margin-left: 30px;
      margin-right: 30px;
    }
  }

  .jw-modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* semi-transparent black  */
    background-color: #000;
    opacity: 0.75;

    /* z-index must be below .jw-modal and above everything else  */
    z-index: 900;
  }
}
.cubtn {
  position: fixed;
  top: 35px;
  right: 31px;
  // background: #fff;
  outline-style: none;
  border: none;
  font-size: 18px;
}
body.jw-modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}
