<div fxLayout="column" fxLayoutGap="5px" class="dialog-container bg-white p-1">
    <nb-card-header class="header-section">{{title}}</nb-card-header>
    <hr class="hr-vertical">

          <div class="cardcontainer">
            <div class="card">
                <a (click)="paymentGetwayBkash()"><img src="../../../../assets/images/bkash.png"></a>
                </div>
            <div class="card">
                <a (click)="paymentGetwayNagad()"><img src="../../../../assets/images/nagad.png"></a>
                </div>
            <div class="card">
                <a (click)="paymentGetwayUpay()"><img src="../../../../assets/images/upay1.png"></a>
                </div>
                </div>

</div>