
.cardcontainer{
	height: 100%;
	display: flex;
	place-items: center;
	justify-content: space-evenly;
	background-color: whitesmoke;
}
.card{
	display: grid;
	grid-template-columns: 300px;
	grid-template-rows: 300px;
	overflow: hidden;
	width: 150px;
	height: 150px;
    margin-bottom: 50px;
	box-shadow: 0 0 10px rgba(0,0,0);
}
.card img{
	width: 50%;
	grid-area: 1 / 1 / span 1 / span 1;
	transition: 0.3s ease-out;
}



.card:hover img{
	transform: scale(1.2, 1.2);
}
