<ngx-no-column-layout windowMode responsive>
  <div>
      <ngx-basic-top-navbar></ngx-basic-top-navbar>
  
  
     <div>
      <!-- <div
      class="basic-route"
      [@fadeAnimation]="basic.isActivated ? basic.activatedRoute : ''"
    >
      <router-outlet #basic="outlet"></router-outlet>
    </div> -->
      <div >
          <ngx-basic-title></ngx-basic-title>
      </div>
      <div class="container mt-1">
          <ngx-about-us></ngx-about-us>
      </div>
      <div>
          <ngx-our-services></ngx-our-services>
      </div>
  
      <div>
      
      </div>
      </div>
      </div>
      <nb-layout-footer fixed>
        <ngx-footer></ngx-footer>
    </nb-layout-footer>
    </ngx-no-column-layout>
  