.nblayout{
   background: #00796b;
     width: 100% !important;
     height:100% !important ;
}
//
::ng-deep {
 .columns[_ngcontent-dmd-c150] {
    flex: 1;
    -ms-flex: 1 1 auto;
    flex-direction: row;
    width: 100%;
    
}
}     