<!-- <nb-layout windowMode>
    <nb-layout-header fixed>
        <ngx-header></ngx-header>
    </nb-layout-header>

    <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive>
        <nb-sidebar-header>
            <div class="header-container">
                <div class="logo-container">
                    <a class="logo" (click)="navigateHome()">
                        <img src="./../../../../assets/images/BPDB_logo.png" alt="" class="img-size" srcset="">
                      

                    </a>
                    <a class="sidebar-toggle" matRipple [matRippleUnbounded]="true" [matRippleCentered]="true"
                        (click)="toggleSidebar()">
                        <nb-icon [icon]="'menu-outline'"></nb-icon>
                    </a>
                </div>
            </div>
        </nb-sidebar-header>
        <nb-menu [items]="menu"></nb-menu>

        <nb-sidebar-footer>
            <nb-menu [items]="menuFooter"></nb-menu>
      
            <img src="./../../../../assets/images/BPDB_logo.png" alt="" class="img-size" srcset="">
        </nb-sidebar-footer>
    </nb-sidebar>
<nb-layout-column class="small" >
<nb-menu [items]="setupPageItems"></nb-menu>
</nb-layout-column>
    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>

    <nb-layout-footer fixed>
        <ngx-footer></ngx-footer>
    </nb-layout-footer>
</nb-layout> -->