<ngx-no-column-layout>
    <ngx-basic-top-navbar></ngx-basic-top-navbar>
<div class="container my-lg-5">
    <div class="row justify-content-center">
        <div class="col-sm-6  rounded m-1 p-2 text-center " >
            <nb-card status="success">
                <nb-card-header>
                    <div class="row justify-content-center">
                        <div>
                            <nb-icon for="file-input" icon="checkmark-circle-outline" status="light"></nb-icon>
                            <h1 class="text-light">Payment success!</h1>
                        </div>
                    </div>
                </nb-card-header>
                
            </nb-card>
        </div>
    </div>
</div>
</ngx-no-column-layout>