@import "../../../@theme/styles/themes";

table {
    width: 100%;
    margin-bottom: 30px;
}

td,
th {
    width: 10%;
}

th.mat-header-cell {
    font-size: 16px;
}

.table-card {
    overflow-x: auto;
    padding: 0px;
    margin-bottom: 40px;
}

::ng-deep .table-card.cursor-show {
    cursor: pointer;
}

::ng-deep .table-card table th,
::ng-deep .table-card table td {
    width: 25%;
    padding: 15px 9px;
}

::ng-deep .table-card table {
    .mat-header-row {
        background-color: #ffffff;
    }

    .mat-row:nth-child(even) {
        background-color: #f9fafa;
    }

    .mat-row:nth-child(odd) {
        background-color: #ffffff;
    }
}

.iconPlus {
    background-color: nb-theme(color-primary-500) !important;
    position: absolute;
    top: 94px;
    right: 16px;
}

.form-card {
    background-color: nb-theme(color-basic-1500);
    padding: 36px 35px 34px 35px !important;
}

.search-toolbar {
    background-color: #ffffff;
    border-radius: 4px;
    height: 53px;
}

.search-button {
    color: #ffffff;
    background-color: #5e2d86;
    height: 48px;
    width: 102px;
}

.search-icon {
    margin: 10px;
}

.mat-toolbar .mat-input-element {
    border: none;
    outline: none;
    background-color: #ffffff;
    margin-left: 12px;
}

.cursor-show {
    cursor: pointer;
}

.loader-div {
    transform: translateY(60px);
}

@media screen and(max-width:599px) {}

@media screen and (min-width: 960px) and (max-width: 1279px) {}

@media screen and (min-width: 600px) and (max-width: 959px) {
    .iconPlus {
        background-color: nb-theme(color-primary-500) !important;
        position: absolute;
        top: 90%;
        right: 16px;
    }
}

@media screen and (max-width: 599px) {
    .iconPlus {
        background-color: nb-theme(color-primary-500) !important;
        position: absolute;
        top: 86%;
        right: 16px;
    }

    .search-button {
        height: 40px;
        width: 85px;
        margin-bottom: 0px !important;
    }
}