::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color: #3f51b5;
}

::ng-deep .mat-tab-list .mat-tab-labels {
    color: #808080;
    background-color: #d5f6ee;
    padding: 8px 5px;
}

.divider-one {
    width: 98%;
    margin-left: 1% !important;
    margin: 12px 0px;
}

.button {
    margin-left: 33%;
}

.btn-save {
    background: #5e2d86;
    color: white;
    width: 100px;
    height: 40px;
    font-size: 18px;
}

.btn-icon {
    margin-right: 4px;
    color: white;
    margin-top: -2px;
    width: 20px;
    height: 20px;
    font-size: 21px;
}

.example-section {
    margin: 12px 0;
    //margin-left: 26%;
}

.example-margin {
    margin: 0 12px;
}

ul {
    list-style-type: none;
    margin-top: 4px;
}

.icon {
    margin-right: 4%;
}

.listOfChildMenu {
    color: black !important;
}

.card-tab {
    margin-bottom: 40px;
    padding: 35px;
}

@media screen and (max-width: 599px) {
    .btn-icon {
        font-size: 20px;
        width: 20px;
        margin-right: 0% !important;
    }

    .btn-save {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding-top: 1%;
    }
}

.search-form-field {
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    top: 0;
    width: calc(100% - 20px);
    background: white;
    z-index: 100;
    height: 65px;
}

.search-input-field {
    padding-left: 10px;
}

.fixed {
    position: sticky;
    top: 0;
    z-index: 999;
}

.search-value-div {
    padding-top: 80px;
}


.userDdFormField {
    width: 20%;
}

.roleDdFormField {
    width: 20%;
}

.userRestrictionDdFormField {
    width: 20%;
}

.header-space {
    margin-bottom: 20px;
}
::ng-deep .mat-checkbox-inner-container {
    display: inline-block;
    height: 16px;
    line-height: 0;
    margin: auto;
    margin-right: 8px;
    order: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    width: 16px;
    flex-shrink: 0;
    background-color: white;
}
.hrStyle{
    margin-top: 0px; 
    margin-bottom: 0px;
}
::ng-deep  .nb-card{
    max-height: 90vh;
} 
.fixedInput{
    position: sticky;
    top:0;
    z-index: 999;
}
// .header-space {
//     margin-bottom: 20px;
// }


